.logo {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 22px;
    border: 0px;
    margin-left: 100px;
}

.home {
    float: left;
    padding: 0px;
    color: whitesmoke;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 24.2px;
    margin-right: 100px;
    margin-top: 25 px;
}

.topnav {
    font-family: sans-serif;
    background-color: #0088ff;
    overflow: hidden;
    border-bottom: 2px solid midnightblue;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px
}

.topnav a:hover {
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
}

.fa-search {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 0px;
    transition: transform .2s;
}

.fa-search:hover {
    transform: scale(1.2);
}

.slides {
    width: 1600px;
    height: 400px;
}

.sl-container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    background-color: #0088ff;
    color: whitesmoke;
    font-weight: bold;
    font-size: 55px;
    transition: 0.3s ease;
    border-radius: 0 0px 3px 0;
    border: 0px solid;
    padding: 20px;
    box-shadow: 1px 2px blue;
}

.prev {
    left: 0;
    border-radius: 3px 3px 3px 3px;
}

.next {
    right: 0;
    border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
    background-color: skyblue;
    color: white;
}

.main {
    background-color: whitesmoke;
}

.feature {
    color: black;
    background-color: white;
    font-family: sans-serif;
    width: 210px;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 3px 0px 0px lightslategrey;
}

.feature h3 {
    font-size: 23px;
}

.feature p {
    text-align: left;
    margin-left: 20px;
    height: 125px;
}

h3 + p {
    text-indent: 1em;
}

.button {
    display: block;
    color: whitesmoke;
    background-color: #0088ff;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 0px 0px darkblue;
    position: relative;
    bottom: 0%;
    transition: transform;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: cadetblue;
    transform: scale(1.2)
}

.description {
    margin: 90px;
    margin-top: 40px;
    height: 120px;
    width: 375px;
    color: whitesmoke;
    background-color: #0088ff;
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
    border: 0px;
}

h1 {
    margin-left: 15px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 24.2px;
}

.footer {
    float: left;
    text-align: left;

}

.footer h2 {
    margin-left: 20px;
}

.footer ul {
    list-style: none;
    margin-right: 4px;
}

ul > li::before {
    content: '> ';
    color: whitesmoke;
}

.footer a:link {
    font-style: normal;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;

}

.footer a:hover {
    text-decoration: none;
    color: blue;
}


.footer a:visited {
    color: black;
}

.footer a:active {
    color: yellow;
}

}

.footer a:hover {}

.congratulationsyouvereachedthebottom {
    height: 25px;
    background-color: blue;
    color: whitesmoke;

}

.congratulationsyouvereachedthebottom p {
    margin-left: 90px;
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 0px;
}

.congratulationsyouvereachedthebottom i {
    float: right;
    padding: 10px;
    margin: 2px;
    transition: transform;
    transition-duration: 0.4s;

}

.congratulationsyouvereachedthebottom i:hover {
    transform: scale(1.3);
}
